/* main variables */
body { margin: 0px; padding: 0px; font-family: "opensans-regular", sans-serif; background-color: #f6f6f6; height: 100%; line-height: 1; position: relative; font-size: 16px !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea { color: #333; font-family: "opensans-regular", sans-serif; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; }

input[type="button"], input[type="submit"], button { cursor: pointer; }

td { margin: 0px; padding: 0px; }

form { padding: 0px; margin: 0px; }

a { color: #2c87ce; -webkit-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; text-decoration: none; outline: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a, span, div, button { outline: none !important; }

input[type=submit], input[type=button], button { -webkit-appearance: none; outline: none; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after, .wrapper:after, .row:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

@font-face { font-family: 'opensans-bold'; src: url("../fonts/opensans/bold/opensans-bold.eot"); src: url("../fonts/opensans/bold/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/bold/opensans-bold.woff2") format("woff2"), url("../fonts/opensans/bold/opensans-bold.woff") format("woff"), url("../fonts/opensans/bold/opensans-bold.ttf") format("truetype"), url("../fonts/opensans/bold/opensans-bold.svg#opensans-bold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'opensans-light'; src: url("../fonts/opensans/light/opensans-light.eot"); src: url("../fonts/opensans/light/opensans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/light/opensans-light.woff2") format("woff2"), url("../fonts/opensans/light/opensans-light.woff") format("woff"), url("../fonts/opensans/light/opensans-light.ttf") format("truetype"), url("../fonts/opensans/light/opensans-light.svg#opensans-light") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'opensans-regular'; src: url("../fonts/opensans/regular/opensans-regular.eot"); src: url("../fonts/opensans/regular/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/regular/opensans-regular.woff2") format("woff2"), url("../fonts/opensans/regular/opensans-regular.woff") format("woff"), url("../fonts/opensans/regular/opensans-regular.ttf") format("truetype"), url("../fonts/opensans/regular/opensans-regular.svg#opensans-regular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'oswald-bold'; src: url("../fonts/oswald/oswald-bold.eot"); src: url("../fonts/oswald/oswald-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald/oswald-bold.woff2") format("woff2"), url("../fonts/oswald/oswald-bold.woff") format("woff"), url("../fonts/oswald/oswald-bold.ttf") format("truetype"), url("../fonts/oswald/oswald-bold.svg#oswald-bold") format("svg"); font-weight: normal; font-style: normal; }

html, body { height: 100%; }

body { font-family: "opensans-regular", sans-serif; font-weight: 400; letter-spacing: 1.4; }

/* titles */
p { font-size: 16px; line-height: 1.4; color: #282828; letter-spacing: normal; margin: 0; padding: 0; font-weight: 400; letter-spacing: 1.05px; }

h1, h2, h3, h4, h5, h6 { font-family: "oswald-bold", sans-serif; margin: 0; padding: 0; font-weight: 400; letter-spacing: 1.05px; }

h1 { font-size: 26px; line-height: 1.4; color: #2c303d; letter-spacing: normal; }

h2 { font-size: 22px; line-height: 1.4; color: #2c303d; letter-spacing: normal; }

h3 { font-size: 20px; line-height: 1.4; color: #2c303d; letter-spacing: normal; }

ul, li { list-style: none; }

img { width: 100%; max-width: 100%; height: auto; vertical-align: middle; }

.lined { text-decoration: line-through; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.main-wrapper { padding: 0; min-width: 402px; width: 100%; position: relative; overflow: hidden; min-height: 100%; }

.wrapper { min-width: 402px; }

.content { min-width: 402px; text-align: left; width: 100%; height: 100vh; overflow-y: auto; background: #f6f6f6; }

.sidebar { width: 300px; height: 100vh; position: fixed; top: 0; left: 0; z-index: 10; background-color: #292c34; font-size: 17px; line-height: 1.4; }

.sidebar * { color: #fff; padding: 0; margin: 0; }

.sidebar__header { background-color: #1f232b; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 70px; padding: 0 0 0 20px; }

.sidebar__menu-item { padding: 10px 10px 10px 20px; }

.header { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 70px; background-color: #292c34; }

.header * { color: #fff; }

.article { padding: 20px 300px 20px 320px; border: 1px solid transparent; }

.article__title { margin: 0 0 15px; }

.article__subsection-text, .article__pre-text { margin-bottom: 15px; }

.article__pre-text { font-weight: bold; padding: 20px 20px 20px 15px; border-left: 6px solid #2c87ce; background-color: #f0f0f0; color: #414141; }

.article__subsection-title { margin-bottom: 10px; }

.article__content { padding: 0 0 0 20px; }

.article__links { padding: 15px; border: 1px solid #ccc; border-radius: 10px; }

.article__links-title { margin-bottom: 10px; }

.article__links-text { margin-bottom: 10px; }

.article__links-text:last-child { margin-bottom: 0; }

.article_dark, .article:nth-child(2n) { background-color: #383b42; }

.article_dark *, .article:nth-child(2n) * { color: #f6f6f6; }

.article_dark .article__pre-text, .article:nth-child(2n) .article__pre-text { background-color: #3e4148; }

/*# sourceMappingURL=style.css.map */
