/* main variables */
$min-width: 402px;
$max-width: 934px;
$base-bg: #f6f6f6;
$base-font-size: 16px;
$base-line-height: 1.4;
$base-font-family: "opensans-regular", sans-serif;
$custom-font-family: "oswald-bold", sans-serif;
$default-transition: all 0.6s ease 0s;

$text-color-primary: #282828;
$text-color-secondary: #2c303d;
$alert-color: #ce2c52;
$base-blue-color: #2c87ce;
$base-green-color: #8ae6cf;

$link-color: $base-blue-color;

$font-size-h1: 26px;
$line-height-h1: 1.4;
$font-size-h2: 22px;
$line-height-h2: 1.4;
$font-size-h3: 20px;
$line-height-h3: 1.4;

$menu-left-indent-desk: 20px;
$menu-width: 300px;
$header-height: 70px;
