//main styles
html,
body {
   height: 100%;
}
body {
   font-family: $base-font-family;
   font-weight: 400;
   letter-spacing: 1.4;
}

/* titles */
p {
   @include font($base-font-size, $base-line-height, $text-color-primary);
   margin: 0;
   padding: 0;
   font-weight: 400;
   letter-spacing: 1.05px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: $custom-font-family;
   margin: 0;
   padding: 0;
   font-weight: 400;
   letter-spacing: 1.05px;
}
h1 {
   @include font($font-size-h1, $line-height-h1, $text-color-secondary);
}
h2 {
   @include font($font-size-h2, $line-height-h2, $text-color-secondary);
}
h3 {
   @include font($font-size-h3, $line-height-h3, $text-color-secondary);
}

ul,
li {
   list-style: none;
}

img {
   width: 100%;
   max-width: 100%;
   height: auto;
   vertical-align: middle;
}

.lined {
   text-decoration: line-through;
}

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/

.main-wrapper {
   padding: 0;
   min-width: $min-width;
   width: 100%;
   position: relative;
   overflow: hidden;
   min-height: 100%;
}
.wrapper {
   min-width: $min-width;
}

.content {
   min-width: $min-width;
   text-align: left;
   width: 100%;
   height: 100vh;
   overflow-y: auto;
   background: $base-bg;
}

.sidebar {
   width: $menu-width;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   background-color: #292c34;
   font-size: 17px;
   line-height: 1.4;
   * {
      color: #fff;
      padding: 0;
      margin: 0;
   }
   &__header {
      background-color: #1f232b;
      display: flex;
      align-items: center;
      height: $header-height;
      padding: 0 0 0 $menu-left-indent-desk;
   }
   &__menu-item {
      padding: 10px 10px 10px $menu-left-indent-desk;
   }
}

.header {
   display: flex;
   justify-content: center;
   align-items: center;
   height: $header-height;
   background-color: #292c34;
   * {
      color: #fff;
   }
}

.article {
   padding: 20px $menu-width 20px ($menu-width + 20px);
   border: 1px solid transparent;

   &__title {
      margin: 0 0 15px;
   }
   &__subsection-text,
   &__pre-text {
      margin-bottom: 15px;
   }
   &__pre-text {
      font-weight: bold;
      padding: 20px 20px 20px 15px;
      border-left: 6px solid $base-blue-color;
      background-color: #f0f0f0;
      color: #414141;
   }
   &__subsection-title {
      margin-bottom: 10px;
   }
   &__content {
      padding: 0 0 0 20px;
   }
   &__links {
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 10px;
   }
   &__links-title {
      margin-bottom: 10px;
   }
   &__links-text {
      margin-bottom: 10px;
      &:last-child {
         margin-bottom: 0;
      }
   }

   &_dark {
      background-color: #383b42;
      * {
         color: $base-bg;
      }
      & .article__pre-text {
         background-color: #3e4148;
      }
   }
}
